<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/jquery.dataTables.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/js.cookie.js")
@Scripts.Render("~/Scripts/datatables.min.js")
@Scripts.Render("~/Scripts/jquery.dataTables.min.js")
@RenderSection("scripts", required: false)
<script>
    $(function() {
        $("#loading").hide();
    });

    $(document).on({
        ajaxStart: function() { $("#loading").show(); },
        ajaxStop: function() { $("#loading").hide(); }
    });
</script>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home", new {area = ""}, null)</li>
                <li>@Html.ActionLink("Users", "Index", "Users", new {area = ""}, null)</li>
                <li>@Html.ActionLink("Logs", "Index", "Log", new {area = ""}, null)</li>
                <li>@Html.ActionLink("Statistics", "Stats", "Log", new {area = ""}, null)</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Request.Cookies["logged_user"] != null) {
                    <li>@Html.ActionLink("Logout", "Logout", "Login", new {area = ""}, null)</li>
                }
                else {
                    <li>@Html.ActionLink("Login", "Index", "Login", new {area = ""}, null)</li>
                }
            </ul>
            @if (Request.Cookies["logged_user"] != null) {
                <p class="nav navbar-text navbar-right">Logged as <strong>@Request.Cookies["logged_user"].Value</strong></p>
            }
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - MoWin</p>
    </footer>
</div>
<div id="loading"></div>
</body>
</html>


